:root {
    --border: 3px solid rgb(78, 78, 78);
    --page-width: 11in;
    --page-height: 8in;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body,
#row-5,
.logo,
.photo-slot
{
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.report {
    outline: 3px solid rgb(235, 235, 235);
    padding: 0 1rem;
}

.page {
    max-width: var(--page-width);
    min-width: var(--page-width);
    min-height: var(--page-height);
    max-height: var(--page-height);
    border : var(--border);
    border-right: none;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

#row-1 {
    min-height: 120px;
}

.col {
    flex: 1;
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 0.5rem;
    align-content: center;
}

.field {
    border: 0 var(--border) 0 var(--border);
}

.title-col {
    flex: 2;
}

.logo {
    height: 100px;
    outline: 2px dashed #ccc;
    cursor: pointer;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}


#doc-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#doc-title[contenteditable] {
    outline: none;
}

#row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.field {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.field span {
    font-weight: bold;
}

#row-4 [contenteditable] {
    width: 100%;
    outline: 1px solid #ccc;
    padding: 8px;
    outline: none;
}

#row-5 {
    flex: 1;
    border-right: var(--border);
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 1rem;
    flex: 1;
}

.photo-slot {
    outline: 2px dashed #aaa;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.photo-slot.horizontal {
    /*grid-column: span 2;*/
}

.photo-slot img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.buttons {
    margin-top: 10px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#export-btn {
    font-size: 16px;
}

@media print {
    /* Oculta todo excepto #report */
    * {
        image-resolution: 72dpi !important;
    }

    body * {
      visibility: hidden;
    }
    #report, #report * {
      visibility: visible;
      outline: none;
    }
  
    /* Asegura que #report ocupe toda la página */
    #report {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      /* Quita márgenes del navegador */
      margin: 0;
      padding: 0;
    }
  }
  