:root {
    --border: 2px solid black;
    --page-width: 11in;
    --page-height: 8.5in;
}

* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report {
    max-width: var(--page-width);
    min-width: var(--page-width);
    min-height: var(--page-height);
    max-height: var(--page-height);
    height: var(--page-height);
    outline: 3px solid rgb(235, 235, 235);
    padding: 0 1rem;
}

.wrapper {
    border : var(--border);
    border-right: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    align-items: stretch;
}

.col {
    flex: 1;
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 0.5rem;
    align-content: center;
}

.field {
    border: 0 var(--border) 0 var(--border);
}

#row-1 {
}

.logo {
    width: 150px;
    height: 80px;
    outline: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}


#doc-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#doc-title[contenteditable] {
    outline: none;
}

#row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.field {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.field span {
    font-weight: bold;
}

#row-4 [contenteditable] {
    width: 100%;
    outline: 1px solid #ccc;
    padding: 8px;
    outline: none;
}

#row-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    border: none;
    padding: 1rem;
    flex: 1;
}

.photo-slot {
    border: 2px dashed #aaa;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.photo-slot.horizontal {
    grid-column: span 2;
}

.photo-slot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#export-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media print {
    /* Oculta todo excepto #report */
    * {
        image-resolution: 72dpi !important;
    }


    body * {
      visibility: hidden;
    }
    #report, #report * {
      visibility: visible;
      outline: none;
    }


  
    /* Asegura que #report ocupe toda la página */
    #report {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      /* Quita márgenes del navegador */
      margin: 0;
      padding: 0;
    }
  }
  