<div class="page">
    <div class="row row-1">
        <div class="col">
            <div class="logo logo-left">Logo</div>
            <input type="file" class="logo-input left" accept="image/*" style="display:none"/>
        </div>
        <div class="col title-col">
            <div class="doc-title" contenteditable>Reporte Fotográfico</div>
        </div>
        <div class="col">
            <div class="logo logo-right">Logo</div>
            <input type="file" class="logo-input right" accept="image/*" style="display:none"/>
        </div>
    </div>

    <div class="row row-2">
        <div class="col">
            <div class="field"><span>OBRA:</span>
                <div contenteditable>Título de la obra</div>
            </div>
        </div>
        <div class="col">
            <div class="field"><span>FECHA:</span><input type="date"/></div>
        </div>
    </div>

    <div class="row row-3">
        <div class="col">
            <div class="field"><span>HORA DE ENTRADA:</span><input type="time"/></div>
        </div>
        <div class="col">
            <div class="field"><span>HORA DE SALIDA:</span><input type="time"/></div>
        </div>
        <div class="col" style="flex: 2">
            <div class="field"><span>SUCURSAL:</span>
                <div contenteditable>---</div>
            </div>
        </div>
    </div>

    <div class="row row-4">
        <div class="col">
            <p style="font-weight: bold; margin: 0">OBSERVACIONES Y COMENTARIOS:</p>
            <div contenteditable></div>
        </div>
    </div>

    <div class="row row-5">
        <div class="grid">
        </div>
        <input type="file" class="photo-input" accept="image/*" multiple style="display:none"/>
    </div>
</div>